@import "tailwindcss";

@theme {
  --color-c-duskblue: #3d5a80;
  --color-c-powderblue: #98c1d9;
  --color-c-lightcyan: #e0fbfc;
  --color-c-burntpeach: #ea481f;
  --color-c-jetblack: #293241;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /*color-scheme: light dark;*/

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  @apply text-5xl;
}

h2 {
  @apply text-2xl font-semibold;
}

.click-animation {
  @apply active:scale-150 active:opacity-50;
}
