@import "tailwindcss";

@theme {
  --color-c-duskblue: #3d5a80;
  --color-c-powderblue: #98c1d9;
  --color-c-lightcyan: #e0fbfc;
  --color-c-burntpeach: #ee6c4d;
  --color-c-jetblack: #293241;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /*color-scheme: light dark;*/

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply w-full max-w-300 mx-auto;
}

h1 {
  @apply text-5xl;
}
